body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

strong {
  font-weight: bold;
}

em {
  text-decoration: underline;
}

.mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  width: auto;
  height: 100vh;
}

.mobile li {
  line-height: 3em;
  list-style-type: "";
  text-align: center;
}

.mobile li a {
  text-decoration: none;
  color: white;
}

.mobile img {
  margin: 4% 4%;
  width: 10%;
  height: auto;
}

nav {
  position: fixed;
  padding: 1em;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
}

nav ul li {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav img {
  display: none;
  width: 7%;
  margin-left: 90%;
}

.One {
  display: -ms-grid;
  display: grid;
}

.One img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: -2;
  width: 100%;
}

.One .logo {
  top: 10px;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  -webkit-animation: fadeIn 1.5s ease-in-out;
          animation: fadeIn 1.5s ease-in-out;
}

.Two {
  margin: 5% 10% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
  font-size: 18px;
}

.Two .desc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Two .ad img {
  position: -webkit-sticky;
  position: sticky;
  z-index: -1;
  top: 75px;
  width: 50%;
}

.Three {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.Three div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Three div h2 {
  margin: 7% auto 5% auto;
  font-size: 32px;
}

.Three div div {
  margin: 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2%;
}

.Three div div p {
  font-size: 18px;
  line-height: 1.5em;
}

.Three div ul {
  margin: 2% 10% 5%;
  list-style-type: "-";
}

.Three div ul li {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 1%;
}

footer {
  display: -ms-grid;
  display: grid;
}

footer .bg {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
}

footer .bg img {
  width: 100%;
}

footer .text {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  width: 100%;
}

footer .text * {
  color: #9b9b9b;
}

footer .text div {
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5%;
}

footer .text div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

footer .text div div a {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

footer .text div .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .text div .img img {
  width: 10%;
}

@media screen and (max-width: 1100px) {
  .Three div div p {
    line-height: 1em;
  }
}

@media screen and (max-width: 900px) {
  header nav li {
    display: none;
  }
  header nav img {
    display: block;
  }
  .Two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5% 5% 0%;
  }
  .Two .desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .Two .ad {
    display: none;
  }
  .Three h2 {
    text-align: center;
  }
  .Three div div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */